<p id="notice"><%= notice %></p>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About Us Page">
    <meta name="author" content="Julian Smith">
    <title>About Us</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Portfolios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out" data-method="Delete" data-confirm="Are you sure?">Sign-out</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign-in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign-up</a>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Useful Links</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/projects">Projects</a>
              <a class="dropdown-item" href="https://github.com/JulesVerne22/cs3300">GitHub</a>
              <a class="dropdown-item" href="/about">About Us</a>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <!--Main Body-->
    <main role="main">
        <!--Main Title-->
        <div class="jumbotron">
          <div class="container">
            <div class="row justify-content-md-center">
              <h1 class="display-3">About Us</h1>
              <p></p>
            </div>
          </div>
        </div>
  
        <!--Information-->
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-4">
              <h2>Purpose</h2>
              <p>This website was created by Julian Smith for CS3300: Software Engineering at the University of Colorado Colorado Springs.</p>
            </div>
            <div class="col-md-4">
                <h2>Technology</h2>
                <p>
                    We leveraged Ruby on Rails along with Bootstrap in order to create a cohesive website efficiently and effectively. Docker
                    and other CI/CD tools such as Heroku and CircleCI were also used. 
                </p>
            </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-md-center">
            <h2>
                Future Development
            </h2>
          </div>
          <div class="row justify-content-md-center">
            <p>
                If you are interested in contributing to this project, the below links provide easy access to all the necessary resources.
            </p>
          </div>
          <div class="row justify-content-md-center">
            <a href="https://github.com/JulesVerne22/cs3300" class="link-primary">GitHub Repo</a>
          </div>
          <div class="row justify-content-md-center">
            <a href="https://app.circleci.com/pipelines/github/JulesVerne22/cs3300" class="link-primary">CircleCI Pipeline</a>
          </div>
          <div class="row justify-content-md-center">
            <a href="https://juliansmith.herokuapp.com" class="link-primary">Heroku Webpage</a>
          </div>
          <div class="row justify-content-md-center">
            <a href="https://app.julianinnovation.com" class="link-info">Personal Webpage</a>
          </div>
          <hr>
        </div>
      </main>
  
      <!--Footer-->
    <footer class="container"></footer>
    <div class="container">
      <div class="row justify-content-md-center">
        <p>&copy; Julian Inc. 2022-Present</p>
      </div>
    </div>
  </footer>
  </body>
</html>